In [11]:
import pandas as pd
import numpy as np

In [5]:
pd.__version__

'1.4.2'

In [13]:
#Import file

df_production = pd.read_csv('https://raw.githubusercontent.com/Hellper1/DADS_5001_miniproject/main/dataset/electricity-production-by-source.csv')
df_consumption = pd.read_csv('https://raw.githubusercontent.com/Hellper1/DADS_5001_miniproject/main/dataset/energy-consumption-by-source-and-country.csv')
df_co2 = pd.read_csv('https://raw.githubusercontent.com/Hellper1/DADS_5001_miniproject/main/dataset/annual-co2-emissions-per-country.csv')
df_temp = pd.read_csv('https://raw.githubusercontent.com/Hellper1/DADS_5001_miniproject/main/dataset/FAOSTAT_data_en_2-12-2023.csv')

In [25]:
#Merge file

df = df_production.merge(df_consumption, how='right',on=['Entity','Code','Year']).merge(df_co2, how='left', on=['Entity','Code','Year']).merge(df_temp, how='left', on=['Entity','Code','Year'])

In [29]:
df.to_csv('miniproject.csv')

In [26]:
df

,Entity,Code,Year,Electricity from coal (TWh),Electricity from gas (TWh),Electricity from nuclear (TWh),Electricity from hydro (TWh),Electricity from solar (TWh),Electricity from oil (TWh),Electricity from wind (TWh),...,Biofuels Consumption - TWh - Total (zero filled),Solar Consumption - TWh (zero filled),Wind Consumption - TWh (zero filled),Hydro Consumption - TWh (zero filled),Nuclear Consumption - TWh (zero filled),Gas Consumption - TWh (zero filled),Coal Consumption - TWh (zero filled),Oil Consumption - TWh (zero filled),Annual CO2 emissions,Value
0,Africa,NaN,1965,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0000,0.0000,0.0000,41.118813,0.0000,9.543755,323.49612,341.26276,2.137846e+08,NaN
1,Africa,NaN,1966,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0000,0.0000,0.0000,45.862915,0.0000,10.669916,323.12220,369.48657,2.212616e+08,NaN
2,Africa,NaN,1967,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0000,0.0000,0.0000,47.875538,0.0000,10.545670,330.29156,368.12524,2.372577e+08,NaN
3,Africa,NaN,1968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0000,0.0000,0.0000,56.000473,0.0000,10.688970,343.51290,389.19986,2.576002e+08,NaN
4,Africa,NaN,1969,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0000,0.0000,0.0000,65.352100,0.0000,12.492000,346.64294,396.92285,2.781395e+08,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5977,World,OWID_WRL,2017,9521.49,5832.14,2565.63,4050.18,444.54,872.56,1136.40,...,972.5343,1185.5151,3034.9170,10831.405000,6734.8735,36529.223000,43751.67600,52515.54300,3.609674e+10,NaN
5978,World,OWID_WRL,2018,9903.24,6046.61,2618.98,4179.20,570.66,798.23,1265.06,...,1045.9080,1524.5498,3360.0188,11067.518000,6856.0166,38356.300000,44315.87500,53250.62000,3.682651e+10,NaN
5979,World,OWID_WRL,2019,9684.76,6230.48,2723.54,4202.08,700.72,740.93,1419.43,...,1120.1494,1855.5922,3744.5151,11153.792000,7073.2896,39062.945000,43699.88700,53368.63000,3.708256e+10,NaN
5980,World,OWID_WRL,2020,9294.85,6151.05,2634.15,4331.88,849.67,710.63,1586.20,...,1065.5650,2222.4430,4192.6820,11413.828000,6789.3020,38455.727000,41963.96500,48380.71000,3.526409e+10,NaN
5981,World,OWID_WRL,2021,10110.98,6317.60,2738.44,4226.34,1021.22,760.15,1848.26,...,1139.9211,2701.7222,4872.0950,11183.226000,7031.3400,40374.605000,44473.19500,51170.47300,3.712385e+10,NaN